<div class="container">
    <aside class="filters">
        <h3>Filtros</h3>
        <div class="filter">
          <label>
            <input type="checkbox" [(ngModel)]="disponibilidad" (change)="aplicarFiltros()">
            Disponibilidad
          </label>
        </div>
        <div class="filter">
          <label>
            Precio Máximo: <input type="number" [(ngModel)]="precioMaximo" (input)="aplicarFiltros()">
          </label>
        </div>
      </aside>
   
      <main class="products">
        <h2>Gorros de natación</h2>
        <div *ngIf="filteredProductos.length > 0; else noProducts" class="product-list">
          <div class="product" *ngFor="let producto of filteredProductos">
            <img [src]="producto.imagenURL" alt="{{producto.nombreProducto}}">
            <h3>{{producto.nombreProducto}}</h3>
            <p>{{producto.precioProducto | currency}}</p>
          </div>
        </div>
        <ng-template #noProducts>
          <p>No hay productos disponibles.</p>
        </ng-template>
      </main>
  </div>