<main class="home-page-colombia">

  <div class="header">
    <app-navbar></app-navbar>
  </div>

  <div class="product">
    <!-- componente producto -->
  </div>

  <div class="page-section">
    <div class="container">
      <div class="izquierda text">
        <span class="amarillo">Desde las fértiles tierras de nuestros campesinos, donde la pasión por</span>
        <span class="azul">Colombia brota en cada cosecha, hasta las aguas que desafían</span>
        <span class="rojo">nuestros nadadores, este gorro representa más que un accesorio</span>
      </div>
      <div class="image">
        <img src="assets/images/gorro colombia-02.png" alt="Gorro Colombia">
      </div>
      <div class="derecha text">
        <span class="amarillo">Un homenaje a nuestra identidad. Inspirado en los colores y símbolos que definen nuestra cultura, cada
        detalle</span>
        <span class="azul">de este diseño refleja el orgullo de ser colombiano. Lleva contigo la fuerza de una nación y siéntete
        parte de algo más grande en</span>
        <span class="rojo">cada brazada. Este gorro no es solo un producto, es un símbolo de grandeza</span>
      </div>
    </div>
  </div>

  <div class="recomendados">
    <app-mini-catalog></app-mini-catalog>
  </div>

  <div class="decoracion-final">
    <div class="text">
      <span class="amarillo">CO</span><span class="azul">LOM</span> <span class="rojo">BIA</span>
    </div>
    <img src="assets/images/GIF-CHIMBA-HEAD.gif" alt="que chimba">
    <img src="assets/images/logo final negro-07.png" alt="">
  </div>

</main>