<main class="home-page">

  <section class="hero-section">
    <div class="overlay">
      <div class="logo">
        <img src="assets/images/logo final-12.png" alt="Swam Sports Logo" />
      </div>
      <div class="hero-text">
        <h1>La piscina fue hecha para disfrutarla</h1>
        <h1>¡Diviértete en ella!</h1>
      </div>
    </div>
  </section>

  <section class="features">

    <app-mini-catalog></app-mini-catalog>
  </section>

  <section class="gallery">

    <div class="media-gallery">
      <video controls>
        <source src="" type="video/mp4">
        Tu navegador no soporta reproduccion de videos :(
      </video>
    </div>

    <div class="instagram-posts">
      <!--con ng for van los post con el service de instagram -->
     post de instagram post de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampos
     t de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost 
     de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de i
     nstagrampost de instagrampost de instagram
     post de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de insta
     grampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de ins
     tagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagrampost de instagram
    </div>

    <div class="reviews">
      <h2>Reseñas</h2>
      <div class="review-columns">
        <div class="review">
          <!-- Contenido de la reseña -->
          <p class="review-body">Swam sports no solamente es una marca como las demás es un sueño que apoya a los nadadores</p>
          <p class="review-author">Andres S</p>
        </div>
        <div class="review">
          <!-- Contenido de la reseña -->
          <p class="review-body">Combina comodidad, estilo y resistencia en un gorro de silicona diseñado para destacar. Su ajuste suave asegura sesiones de natación sin molestias, mientras que su durabilidad lo mantiene impecable frente al cloro y el agua salada. Inspirado en un diseño exclusivo lleno de flow, es ideal para principiantes y profesionales. Fácil de usar, garantiza una experiencia práctica y sin complicaciones.</p>
          <p class="review-author">Juan</p>
        </div>
        <div class="review">
          <!-- Contenido de la reseña -->
          <p class="review-body">SwamSports ofrece gorros únicos que reflejan las últimas tendencias de la música y la moda. Sus diseños originales y materiales de alta calidad los hacen ideales para destacar en cualquier ocasión.</p>
          <p class="review-author">Valeria O</p>
        </div>
      </div>
    </div>




  </section>

  <section class="about">
    <div class="footer">
      <div class="social-icons">
        <!-- Puedes reemplazar los enlaces `href` con las URLs correspondientes -->
        <a href="https://wa.me/573173556846/?text=Hola"><img src="assets/images/whatsapp_icon.svg" alt="WhatsApp"></a>
        <a href="https://www.facebook.com/people/Swam-Sports/61561019055862/"><img src="assets/images/facebook_icon.svg" alt="Facebook"></a>
        <a href="https://www.instagram.com/swam_sports/"><img src="assets/images/instagram_icon.svg" alt="Instagram"></a>
      </div>
      <p>Colombia Bogota D.C  Copyright © 2025 SwamSports</p>
    </div>
  </section>

  







</main>






<!-- <app-mini-catalog></app-mini-catalog> --> <!-- TODO hacer el mini catalogo --> 