<main class="home-page">

  <section class="hero-section">
    <div class="overlay">
      <div class="logo">
        <img src="assets/images/logo final-12.png" alt="Swam Sports Logo" />
      </div>
      <div class="hero-text">
        <h1>La piscina fue hecha para disfrutarla</h1>
        <h1>¡Diviértete en ella!</h1>
      </div>
    </div>
  </section>

  <section class="features">

    <app-mini-catalog></app-mini-catalog>
  </section>

  <section class="gallery">

    <div class="media-gallery">
      <video controls>
        <source src="" type="video/mp4">
        Tu navegador no soporta reproduccion de videos :(
      </video>
      <div class="instagram-posts">

        

      </div>

    </div>


  </section>

  







</main>






<!-- <app-mini-catalog></app-mini-catalog> --> <!-- TODO hacer el mini catalogo --> 