<div class="container">
  <main class="products">
    <div *ngIf="productos.length > 0 else noProducts" class="carousel-wrapper">
      <button class="prev" (click)="prevSlide()">&#10094;</button>
      <div class="carousel" [style.transform]="'translateX(' + (-currentIndex * (100 / itemsVisible)) + '%)'">
        <div 
          class="product" 
          *ngFor="let producto of productos; let i = index"
        >
          <img [src]="producto.imagenURL" alt="{{producto.nombreProducto}}">
          <!-- <button class="ver-mas" (click)="[routerLink]="['productos']" routerLinkActive="router-link-active" ">Ver más</button> Importar routerLink y referenciar a /productos/{$id} -->
        </div>
      </div>
      <button class="next" (click)="nextSlide()">&#10095;</button>
    </div>
    <ng-template #noProducts>
      <p>No hay productos disponibles.</p>
    </ng-template>
  </main>
</div>