<div class="navbar">
  <div class="logo">
    <h1>Swam Sports</h1>
  </div>
  <div class="menu">
    <a href="#">página</a>
    <a href="#">página</a>
    <a href="#">página</a>
    <a href="#">página</a>
  </div>
  <div class="icons">
    <i class="search-icon"></i>
    <i class="user-icon"></i>
    <i class="cart-icon"></i>
  </div>
</div>

<div class="hero">
  <div class="overlay">
    <img src="/InicioFront.jpg" alt="background-image">
    <h2>La piscina fue hecha para disfrutarla</h2>
    <p>¡Diviértete en ella!</p>
  </div>
</div>
