/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    color: #00ffe6;
  }
  
  .navbar .logo h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .navbar .menu a {
    color: #00ffe6;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  .navbar .icons i {
    margin: 0 10px;
    color: #00ffe6;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Hero Section Styles */
  .hero {
    position: relative;
    
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: #00ffe6;
    text-align: center;
    padding: 20px;
  }
  .hero .overlay background-image {
    
    background-size:10px ;
  }
  
  .hero .overlay h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .hero .overlay p {
    font-size: 18px;
  }
  