.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px 40px;
    font-family: 'Chillax-font';
  }

  
  .logo img {
    width: 200px;
    height: auto;

  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 70px;
    margin: 0;
    padding: 0;
    
  }
  
  .nav-links li {
    color: #00FFFF;
    font-size: 25px;
    cursor: pointer;
  }
  .nav-links li:hover {
    color: #ff0800;
  }


  
  .special1 {
    color: rgb(238, 255, 0);
    font-weight: bold;
  }

  .special2 {
    color: rgb(55, 0, 255);
    font-weight: bold;
  }

  .special3 {
    color: rgb(255, 0, 0);
    font-weight: bold;
  }

  .special1:hover {
    color: rgb(255, 30, 0);
    font-weight: bold;
  }

  .special2:hover {
    color: rgb(4, 0, 255);
    font-weight: bold;
  }

  .special3:hover {
    color: rgb(229, 255, 0);
    font-weight: bold;
  }
  
  .icons {
    display: flex;
    gap: 20px;
  }
  
  .icons span {
    color: #00FFFF;
    font-size: 24px;
    cursor: pointer;
  }